@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202020;
  --foreground: #ededed;
}

html {
  height: 100%;
  display: flex;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom :where(h1, h2, h4, h5, h6) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: start;
}

.custom h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: initial;
}

.custom hr {
  border: #313131 1px solid;
}

.custom em {
  opacity: 0.65;
}

.custom blockquote {
  border-left: 0.25rem solid #313131;
  padding-left: 1rem;
  margin: 1rem 0;
}

.custom h3 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.nestedListItem {
  list-style: none;
}

.list-bullet {
  padding-left: 1.5rem;
  list-style-type: "- ";
}

code {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  background-color: #707070;
  color: #cacaca;
}

.custom .li {
  margin-bottom: 0.5rem;
}

a {
  color: theme("colors.purple.400");
}

a:hover {
  color: theme("colors.purple.500");
  transition: theme("transitionProperty.colors") theme("transitionDuration.150")
    theme("transitionTimingFunction.in-out");
}

.current-company {
  color: theme("colors.teal.400");
  transition: theme("transitionProperty.colors") theme("transitionDuration.150")
    theme("transitionTimingFunction.in-out");
}
.current-company:hover {
  color: theme("colors.teal.500");
}
