@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202020;
  --foreground: #ededed;
}

html {
  height: 100%;
  display: flex;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

body {
  flex: 1;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom p,
.custom h1,
.custom h2,
.custom h3,
.custom h4,
.custom h5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.custom h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.nestedListItem {
  list-style: none;
}

.list-bullet {
  padding-left: 1.5rem;
  list-style-type: "- ";
}

code {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  background-color: #707070;
  color: #cacaca;
}
